<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/default_index}">
	<th:block layout:fragment="head">
	<title>Spring Boot</title>
	<!--/* css */--> 
	<link th:href="@{/css/common.css}" rel="stylesheet" /></th:block>
	<!-- kakao sdk 호출 -->
	<script th:src="@{/js/kakao.js}"></script>
	<body>
		<th:block layout:fragment="header" th:include="@{/layout/header}"></th:block>
		<div layout:fragment="content" class="content">
			<h2>This is Content</h2>
		</div>
		
				
	    <a id="kakao-link-btn" th:href="|javascript:kakaoShare()|">
	    	<img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" />
	    </a>

		<th:block layout:fragment="footer" th:include="@{/layout/footer}"></th:block>

			
	</body>
	<script th:src="@{/js/kakao.user.js}"></script>
</html>
